:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    max-width: 1920px;
    overflow-x: hidden;
    margin: 0 auto;
}

main {
    flex: 1;
}

.container-max {
    @include container-max(1170px);

    @media only screen and (max-width : 1199.98px) {
        @include container-max(960px);
    }

    @media only screen and (max-width : 991.98px) {
        @include container-max(720px);
    }

    @media only screen and (max-width : 767.98px) {
        @include container-max(540px);
    }

    @media only screen and (max-width : 575.98px) {
        padding: 0 15px;
    }

}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;

    @media only screen and (max-width : 1199.98px) {
        max-width: 960px;
    }

    @media only screen and (max-width : 991.98px) {
        max-width: 720px;
    }

    @media only screen and (max-width : 767.98px) {
        max-width: 540px;
    }

    @media only screen and (max-width : 575.98px) {
        max-width: auto
    }
}
