.header {
    &-top {
        background-color: $gold_1;
        font-weight: 300;
        color: #fff;
        letter-spacing: 0.01em;
        position: relative;

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &-bottom {
        padding-top: .5em;
        padding-bottom: .5em;
    }

    &-contacts {
        font-weight: 500;
    }
}

.top-logo {
    display: inline-block;
    width:225px;
}

.lang-swith {
    display: flex;
    align-items: center;

    a {
        color: #fff;
        text-decoration: none;
    }

    span {
        color: $gray_1;
    }

    i {
        display: inline-block;
        margin-left: .7em;
        margin-right: .7em;
        width: 1.2em;
        height: .1em;
        background-color: #fff;
    }
}


@media(max-width:1199.98px) and (min-width:991.98px) {
    .header {
        &-contacts {
            display: none;
        }
    }
}

@media(max-width:991.98px) {
    .header {
        &-top {
            color: $black_2;
            padding-top: .5em;
            padding-bottom: .5em;
        }

        &-nav {
            position: absolute;
            z-index: 50;
            top: 100%;
            left: 0;
            right: 0;
            background-color: $gold_1;
            max-height: 100vh;
            overflow-y: auto;
        }
    }

    .lang-swith {
        font-weight: 500;
    }
}

@media(max-width:767.98px) {
    .top-logo {
        display: block;
        margin: auto;
        width: 120px;
    }
}


@media(max-width : 575.98px) {
    .header-contacts {
        display: none;
    }
}
