.pagination {
    display:flex;
    justify-content: center;
    margin-bottom:20px;
}

.pagination-items {
    display:flex;
    align-items:flex-end;
}

.pagination-items__wrap {
    display:block;
    min-width:25px;
}

.pagination-items__link {
    display:inline-block;
    color:#000;
    text-decoration:none;
    padding:5px 7px;
    vertical-align:bottom;

    &--active,
    &:hover {
        font-size:20px;
    }
}