.table-price {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  color: #2d2d2d;
  &__caption {
    background-color: #f1f1f1;
    display: flex;
    &--col {
      flex-basis: 50%;
      display: flex;
      align-items: center;
      padding: 0 60px;
      border: 1px solid #efefef;
      @media (max-width: 991.98px) {
        padding: 0 20px;
      }
    }
  }
  &__row {
    display: flex;
  }
  &__col {
    display: flex;
    width: 50%;
    border: 1px solid #efefef;
    padding: 0 60px;
    align-items: center;
    @media (max-width: 991.98px) {
      padding: 0 20px;
    }
  }
}

.table-price > div {
  height: 60px;
}
