.catalog-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  padding:10px;
  padding:20px;
  box-sizing: border-box;
  width: 33.33%;
  text-decoration: none;
  &__pic {
    display: flex;
    position: relative;
    height: 370px;
    background-color: #fff;
    border:1px solid #e8e8e8;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 80px;
    }
  }
  &__sub {
    background-color: $gold_1;
    color: #fff;
    font-size: 1.3rem;
    padding: 15px 0;
    text-align: center;
    transition: all 0.3s;
  }
  &:hover .catalog-cart__sub {
    background-color: $red_1;
  }
  @media(max-width:991.9px) {
    width:50%;
  }
  @media(max-width:575.9px) {
    width:370px;
    margin:0 auto;
  }
}
